@import 'alerts/main';
@import 'education_materials/main';
@import 'audit/main';
@import 'erx/main';
@import 'practice/main';
@import 'schedule/main';
@import 'access_permissions/main';

.settings-wrapper {
  a {
    color: $green;
  }
  .footer {
    position: inherit !important;
  }
  .content {
    min-height: calc(100vh - 158px) !important;
    padding: 0 20px !important;
  }
  .dropdown-custom li a {
    font-size: 15px;
  }
  .button-add {
    width: 100%;
  }
  .button-remove {
    width: 100%;
    min-width: 80px;
    display: inline-block;
    margin-top: 5px !important;
    height: 30px;
    line-height: 28px;
  }
  .minicolor-picker {
    display: none;
  }
  .minicolors-swatch {
    width: 25px;
    height: 25px;
    border: 0;
  }
  .form-control {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    overflow: hidden;
    color: #74757E !important;
    text-overflow: ellipsis;
    &.form-control-edited {
      color: rgb(51, 51, 51) !important;
    }
    &.form-control-blank {
      border-color: transparent;
      background: #fff;
      font-size: 15px;
      opacity: 1 !important;
    }
  }
  .btn-small {
    width: 80px;
    height: 30px;
    float: right;
    display: inline-block;
    position: relative;
    right: 0;
    top: 6px;
    margin-bottom: 12px;
    i {
      font-size: 24px;
    }
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #fff;
    }
  }
  .row-container {
    padding: 15px 0;
    .form-group {
      margin-bottom: 20px !important;
    }
    .bordered-container {
      .category-header {
        width: calc(100% + 1px);
        height: 50px;
        display: table;
        border-radius: 0;
        margin: 0;
        padding: 4px 20px;
        .title {
          display: table-cell;
          vertical-align: middle;
        }
        div[class*='col-'] .title {
          display: inline-block;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        div[class*='col-']:last-child {
          display: table;
          text-align: right;
        }
      }
    }
  }

  .left-block {
    .left-menu {
      width: 100%;
      display: inline-block;
      list-style-type: none;
      li {
        a {
          display: block;
          color: $green;
          font-size: 15px;
          padding: 14px 20px 14px 7px;
          border-left: 13px solid transparent;
          transition: background-color 0.2s, color 0.1s, border-color 0.2s;
        }
        &.active a,
        & a:hover,
        & a:active,
        & a:focus {
          border-color: $orange;
          background-color: $green;
          color: #fff;
        }
      }
    }
  }
}

#modal-settings-add-user-added-practice,
#modal-settings-add-user-practice {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .title {
          padding-left: 20px;
        }
        .close-btn {
          right: 10px;
        }
      }
      .modal-body {
        padding: 5px 0;
        .slimScrollDiv {
          padding-right: 10px;
        }
        .content {
          padding-bottom: 20px !important;
        }
        .row-container {
          span.input-group-addon,
          p {
            color: $graytext;
          }
          span.input-group-addon {
            padding-left: 20px;
            padding-right: 20px;
          }
          &:nth-child(1) {
            span.input-group-addon {
              width: 163px;
            }
          }
          &:not(:nth-child(1)) {
            span.input-group-addon {
              width: auto;
            }
          }
          &:not(:nth-child(1)):not(:nth-child(2)) {
            border-bottom: 1px solid $green;
            padding: 10px 0;
          }
          &:nth-child(2) {
            border-bottom: 1px solid $green;
          }
          &:nth-child(2) {
            padding: 0 0 10px 0;
          }
          &:last-child {
            p {
              line-height: 45px;
              font-size: 16px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

#modal-settings-add-user-added-practice {
  .modal-dialog,
  .modal-dialog, .modal-content {
    max-width: 360px;
  }
  .modal-dialog {
    .modal-content {
      .modal-body {
        .content {
          padding-bottom: 0 !important;
          .row-container:first-child {
            padding: 20px 0 0 0;
          }
        }
        p {
          color: $graytextdark !important;
          line-height: 1 !important;
          margin-bottom: 16px !important;
        }
      }
    }
  }
}

#modal-settings-add-user-practice {
  .modal-dialog,
  .modal-dialog, .modal-content {
    max-width: 360px;
  }
  .modal-dialog {
    .modal-content {
      .modal-body {
        .row-container {
          padding: 15px 0;
        }
        .content {
          padding: 0 20px 30px 20px !important;
        }
        .row-container:first-child {
          div[class*='col-']:nth-child(1) {
            .dropdown-styled a {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
          .input-group-addon {
            width: 107px !important;
            max-width: 107px;
          }
          .dropdown-styled {
            a {
              color: $graytext !important;
            }
          }
        }
      }
      .modal-footer {
        padding: 0 20px 17px 20px;
        .controls {
          margin: -7px -20px;
          .btn {
            margin: 7px 20px;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }
}
