$green_header:  #134f5c;
$green_leftnav: #45818e;
$green:         #41b6a6;
$red:           #ce292c;
$blue:          #96bcf0;
$gray_light:    #eee;
$gray_dark:     #ddd;
$red_dark:      #a42124;
$blue_dark:     #87a8d6;