$('#modal-contacts-new-contact').html('<%= escape_javascript(render 'new_contact_form') %>');

initPickers('#modal-contacts-new-contact');
initSelect2('#modal-contacts-new-contact');

$('#modal-contacts-new-contact').modal('show');

$('#contact-save').click(function(e) {
  e.preventDefault();
  if($('#contacts-new-contact-practice-id').val()) {
    $.ajax({
      url: '<%= Rails.application.routes.url_helpers.add_contact_email_messages_path %>',
      data: {
        id: $('#contacts-new-contact-practice-id').val()
      }
    }).done(function() {
      $('#modal-contacts-new-contact').modal('hide');
    });
  }
});

SearchController = function() {
  var input, input_id, button, placeholder, link;

  this.initialize = function(_input, _input_id, _button, _placeholder, _link) {
    input = $(_input)
    input_id = $(_input_id);
    button = $(_button);
    placeholder = _placeholder;
    link = _link;
    
    input.select2({
      width: '100%',
      placeholder: placeholder,
      ajax: {
        url: link,
        processResults: processResults,
        data: function (params) {
          return {
            part: params.term
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; },
      minimumInputLength: 1,
      templateResult: templateResult,
      templateSelection: templateSelection
    });

    button.click(function(e) {
      input.select2('open');
    });
  }

  function processResults(data, params) {
    console.log(data);
    return {
      results: data
    };
  }

  function templateResult(item) {
    if (item.loading) return item.text;
    return '<span>'+item.full_name+'</span>';
  }

  function templateSelection(item) {
    if(item.full_name) {
      input_id.val(item['id']).trigger('change');
      $.ajax({
          url: '<%= Rails.application.routes.url_helpers.contacts_practices_email_messages_path %>',
          data: { id: item['id'] }
        }).done(function(practice_item){
          $('#contacts-new-contact-first-name').val(practice_item['first_name']).trigger('change');
          $('#contacts-new-contact-middle-name').val(practice_item['middle_name']).trigger('change');
          $('#contacts-new-contact-last-name').val(practice_item['last_name']).trigger('change');
          $('#contacts-new-contact-degree').val(practice_item['degree']).trigger('change');
          $('#contacts-new-contact-speciality').val(practice_item['speciality']).trigger('change');
          $('#contacts-new-contact-email').val(practice_item['alt_email']).trigger('change');
          $('#contacts-new-contact-phone').val(practice_item['mobile_phone']).trigger('change');
          $('#contacts-new-contact-fax').val(practice_item['primary_phone']).trigger('change');
          $('#contacts-new-contact-street').val(practice_item['street_address']).trigger('change');
          $('#contacts-new-contact-practice-street').val(practice_item['practice_street_address']).trigger('change');
          $('#contacts-new-contact-city').val(practice_item['city']).trigger('change');
          $('#contacts-new-contact-state').val(practice_item['state']).trigger('change');
          $('#contacts-new-contact-zip').val(practice_item['zip']).trigger('change');
        });
      return item.full_name;
    }
    else
      return item.text;
  }
};

var findPracticeStaffController = new SearchController();
findPracticeStaffController.initialize(
  '#modal-contacts-new-contact #find_contacts_practice_staff',
  '#modal-contacts-new-contact #practice_id',
  '#modal-contacts-new-contact #find_contacts_practice_staff_button',
  'Search Practice Staff',
  '<%= Rails.application.routes.url_helpers.practices_email_messages_path %>'
);