@font-face {
  font-family: 'Glyphicons Halflings';
  src: font_url('glyphicons-halflings-regular.eot');
  src: font_url('glyphicons-halflings-regular.woff2') format('woff2'),
       font_url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype');
  src: font_url('glyphicons-halflings-regular.woff') format('woff'),
       font_url('glyphicons-halflings-regular.ttf') format('truetype'),
       font_url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
  font-family: 'SF UI Text Regular';
  src: font_url('SFUIText-Regular.eot');
  src: font_url('SFUIText-Regular.woff2') format('woff2'),
       font_url('SFUIText-Regular.eot?#iefix') format('embedded-opentype');
  src: font_url('SFUIText-Regular.woff') format('woff'),
       font_url('SFUIText-Regular.ttf') format('truetype'),
       font_url('SFUIText-Regular.svg#SFUIText-Regular') format('svg');
}

@font-face {
  font-family: 'SF UI Text Medium';
  src: font_url('SFUIText-Medium.eot');
  src: font_url('SFUIText-Medium.woff2') format('woff2'),
       font_url('SFUIText-Medium.eot?#iefix') format('embedded-opentype');
  src: font_url('SFUIText-Medium.woff') format('woff'),
       font_url('SFUIText-Medium.ttf') format('truetype'),
       font_url('SFUIText-Medium.svg#SFUIText-Medium') format('svg');
}

@font-face {
  font-family: 'SF UI Text Light';
  src: font_url('SFUIText-Light.eot');
  src: font_url('SFUIText-Light.woff2') format('woff2'),
       font_url('SFUIText-Light.eot?#iefix') format('embedded-opentype');
  src: font_url('SFUIText-Light.woff') format('woff'),
       font_url('SFUIText-Light.ttf') format('truetype'),
       font_url('SFUIText-Light.svg#SFUIText-Light') format('svg');
}

@font-face {
  font-family: 'SF UI Text Semibold';
  src: font_url('SFUIText-Semibold.eot');
  src: font_url('SFUIText-Semibold.woff2') format('woff2'),
       font_url('SFUIText-Semibold.eot?#iefix') format('embedded-opentype');
  src: font_url('SFUIText-Semibold.woff') format('woff'),
       font_url('SFUIText-Semibold.ttf') format('truetype'),
       font_url('SFUIText-Semibold.svg#SFUIText-Semibold') format('svg');
}

@font-face {
  font-family: 'SF UI Text Bold';
  src: font_url('SFUIText-Bold.eot');
  src: font_url('SFUIText-Bold.woff2') format('woff2'),
       font_url('SFUIText-Bold.eot?#iefix') format('embedded-opentype');
  src: font_url('SFUIText-Bold.woff') format('woff'),
       font_url('SFUIText-Bold.ttf') format('truetype'),
       font_url('SFUIText-Bold.svg#SFUIText-Bold') format('svg');
}

@font-face {
  font-family: 'SF UI Text Heavy';
  src: font_url('SFUIText-Heavy.eot');
  src: font_url('SFUIText-Heavy.woff2') format('woff2'),
       font_url('SFUIText-Heavy.eot?#iefix') format('embedded-opentype');
  src: font_url('SFUIText-Heavy.woff') format('woff'),
       font_url('SFUIText-Heavy.ttf') format('truetype'),
       font_url('SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
}

@font-face {
  font-family: 'Helvetica';
  src: font_url('Helvetica.eot');
  src: font_url('Helvetica.woff2') format('woff2'),
       font_url('Helvetica.eot?#iefix') format('embedded-opentype');
  src: font_url('Helvetica.woff') format('woff'),
       font_url('Helvetica.ttf') format('truetype'),
       font_url('Helvetica.svg#Helvetica') format('svg');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: font_url('HelveticaNeue.eot');
  src: font_url('HelveticaNeue.woff2') format('woff2'),
       font_url('HelveticaNeue.eot?#iefix') format('embedded-opentype');
  src: font_url('HelveticaNeue.woff') format('woff'),
       font_url('HelveticaNeue.ttf') format('truetype'),
       font_url('HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
  font-family: 'Times New Roman';
  src: font_url('TimesNewRoman.eot');
  src: font_url('TimesNewRoman.woff2') format('woff2'),
       font_url('TimesNewRoman.eot?#iefix') format('embedded-opentype');
  src: font_url('TimesNewRoman.woff') format('woff'),
       font_url('TimesNewRoman.ttf') format('truetype'),
       font_url('TimesNewRoman.svg#TimesNewRoman') format('svg');
}