<component>
  <section>
  <templateId root="2.16.840.1.113883.10.20.22.2.9"/>
  <code code="51847-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Assessment and Plan"/>
  <title>Assessment and Plan</title>
  <text>
    <table>
      <thead>
        <tr>
          <th>Assessment and Plan</th>
        </tr>
      </thead>
      <tbody>
        <tr ID="APNULL1">
          <td>No Plans indicated</td>
        </tr>
      </tbody>
    </table>
  </text>
  </section>
</component>