<component>
  <section>
    <templateId root="2.16.840.1.113883.10.20.22.2.3.1"/>
    <code code="30954-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Results"/>
    <title>Results</title>
    <text>Not indicated</text>
    <entry typeCode="DRIV">
      <organizer classCode="BATTERY" moodCode="EVN">
      <templateId root="2.16.840.1.113883.10.20.22.4.1"/>
      <id nullFlavor="UNK"/>
      <code xsi:type="CE" nullFlavor="UNK"/>
      <statusCode nullFlavor="UNK"/>
      <effectiveTime nullFlavor="UNK"/>
      <component>
        <observation classCode="OBS" moodCode="EVN">
          <templateId root="2.16.840.1.113883.10.20.22.4.2"/>
          <id nullFlavor="NI"/>
          <code xsi:type="CE" nullFlavor="NI"/>
          <statusCode code="completed"/>
          <effectiveTime nullFlavor="NI"/>
          <value xsi:type="PQ" nullFlavor="NI"/>
        </observation>
      </component>
      </organizer>
    </entry>
  </section>
</component>